@media screen and (max-width: 1200px) {
    #header {
        position: fixed;
        width: 100%;
        z-index: 9999;
    }
    .contacts--map--iframe {
        padding-left: 30px;
    }
    .add--padding {
        padding: 0px 0 30px;
    }
    .fixed--menu {
        width: 100%;
    }
    .burger--menu {
        display: flex;
    }
    .menu--block a {
        margin: 0 10px;
    }
    .logo a {
        font-size: 40px;
    }
    .header--back {
        padding: 8px 0;
    }
    .fixed--menu {
        display: none;
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        flex-direction: column;
        justify-content: flex-start;
        background-color: #fff;
        z-index: 9999;
        transition: .4s;
    }
    .fixed--menu--block {
        flex-direction: column;
        position: absolute;
        top: 50%;
        left: 35%;
        width: 100%;
        padding: 40px;
        transform: translate(-50%, -50%);
    }
    .menu--block a {
        margin: 0;
        font-size: 24px;
    }
    .phone--big {
        font-size: 22px;
    }
    .menu--block {
        display: flex;
        justify-content: center;
        align-items: flex-start;
        flex-direction: column;
        line-height: 50px;
    }
    .phone {
        text-align: left;
        padding: 50px 0 10px;
    }
    .close--menu {
        display: block;
        position: absolute;
        top: 0;
        right: 20px;
        font-family: 'HelveticaNeueCyr-Bold';
        color: #000;
        font-size: 40px;
    }
    .social--links {
        margin: 30px 30px 0 0;
    }
    .contacts--title {
        font-size: 22px;
    }
    .error--title {
        font-size: 280px;
    }
    .phone--mobile {
        display: block;
        padding: 7px 0 0;
    }
    .desktop--phone {
        display: none;
    }
    .header--back::before {
        background-color: transparent;
    }
    .header--back::after {
        background-color: transparent;
    }
}
@media screen and (max-width: 991px) {
    .error--title {
        font-size: 156px;
    }
    .error--txt {
        font-size: 12px;
        line-height: 14px;
    }
    .kart--tovar--cont {
        position: inherit;
    }
    .kart--tovara--title {
        font-size: 18px;
    }
    .kart--tovara--text {
        padding: 10px 6px;
    }
    .kart--tovara--cost span {
        font-size: 20px;
    }
    .kart--tovara--cost {
        line-height: 21px;
        padding: 0;
    }
    .kart--tovar--cont {
        padding: 10px 0;
    }
    .mini--img img {
        margin: 0 0 6px 5px;
    }
    .about--num {
        font-size: 42px;
        line-height: 41px;
    }
    .contacts--map--iframe {
        position: inherit;
        width: 750px;
        height: 300px;
        margin: 0 auto;
        padding: 0 30px;
    }
    #contacts--info {
        text-align: center;
    }
    .contacts__address__block {
        text-align: left;
    }
    .benefits--block {
        margin: 40px 0;
    }
    .sldier--title {
        font-size: 30px;
    }
    .description {
        font-size: 14px;
        padding: 10px 0 20px;
    }
    .slider--container .right__arrow {
        top: 40%;
    }
    .slider--container .left__arrow {
        top: 40%;
    }
    .title {
        font-size: 16px;
        line-height: 20px;
    }
    .description {
        font-size: 14px;
        line-height: 18px;
    }
    .catalog--block--desc {
        padding-top: 0;
    }
    .contacts--card {
        left: 20px;
    }
    .footer--block:nth-child(2) {
        display: none;
    }
    .footer--phone {
        display: none;
    }
}
@media screen and (max-width: 767px) {
    .kart--tovara--title {
        padding-top: 10px;
    }
    .space {
        display: none;
    }
    .product--block {
        margin: 15px 10px;
        width: 158px;
    }
    .product--txt {
        font-size: 10px;
    }
    .line12  {
        top: 60px;
    }
    .about--block2 {
        text-align: right;
    }
    .about--img {
        padding-top: 20px;
    }
    .num--block {
        justify-content: space-between;
    }
    .contacts--map--iframe {
        width: 100%;
        padding: 0;
    }
    .contact--header--title {
        font-size: 28px;
    }
    #contacts--page {
        padding: 40px 0 50px;
    }
    .contacts--card {
        position: inherit;
        margin: 40px 0;
        width: 100%;
    }
    .map iframe {
        height: 340px;
    }
    .slider-block__item {
        flex-direction: column;
    }
    .slider--img {
        padding: 50px;
    }
    .slider--container .right__arrow {
        top: 50%;
    }
    .slider--container .left__arrow {
        top: 50%;
    }
    .catalog--product {
        flex-direction: column;
    }
    .btn {
        margin: 10px 0;
    }
    .btn2 {
        top: 0;
    }
    .catalog--container7 {
        padding: 50px 0;
    }
    .contact--text {
        font-size: 14px;
    }
    .contact--mini--txt {
        font-size: 12px;
    }
    .mini--img img {
        margin: 0 0 7px 7px;
    }
}
@media screen and (max-width: 610px) {
    .modal--content {
        width: 26rem;
    }
    .form--contact {
        padding: 14px 20px;
    }
    .modal--input {
        padding: 8px 12px;
    }
    .modal--title {
        padding: 18px 20px;
    }
}
@media screen and (max-width: 576px) {
    .phone--mobile .phone--big {
        font-size: 16px;
        line-height: 15px;
    }
    .phone--mobile .phone--mini {
        font-size: 14px;
    }
    .error--title {
        font-size: 106px;
        padding: 20px 0;
    }
    .error--page--container {
        flex-direction: column;
    }
    .error--btn {
        justify-content: center;
    }
    .error--btn2 {
        justify-content: center;
        margin-bottom: 30px;
    }
    .last--footer--txt {
        padding-top: 30px;
    }
    .mini--img {
        padding-right: 7px;
    }
    .products--contain {
        justify-content: center;
    }
    .footer--btn a {
        font-size: 10px;
        padding: 8px 20px;
    } 
    .footer--btn {
        padding: 1px 1px 5px 2px;
    }
    .footer--logo {
        font-size: 26px;
    }
    .benefits--title {
        font-size: 30px;
    }
    .header--back::before {
        left: -47px;
    }
    .header--back::after {
        right: -47px;
    }
    .logo a {
        font-size: 32px;
    }
    .slider--container .right__arrow {
        right: 0;
    }
    .slider--container .left__arrow {
        left: 0;
    }
    .slider--container {
        padding: 0 20px;
    }
    .slider--img {
        padding: 20px 100px 20px 0;
    }
    .slider--container .slick-dots li button:before {
        width: 10px;
        height: 10px;
    }
    .contacts__address__block {
        padding: 30px 0;
    }
    .about--num {
        font-size: 38px;
        line-height: 38px;
    }
    .about--block {
        padding: 40px 0 0;
    }
    .modal--input {
        width: 100%;
    }
}
@media screen and (max-width: 500px) {
    .modal--content {
        width: 23rem;
    }
}
@media screen and (max-width: 460px) {
    .mini--img img {
        margin: 0 0 6px 6px;
    }
    .politika--header--title {
        font-size: 26px;
    }
    .form--desc {
        padding: 12px 0 7px;
    }
    .modal--select {
        padding: 24px 0 14px;
    }
    .modal--content {
        width: 20rem;
    }
    .modal--input {
        padding: 6px 12px;
    }
    .modal--title {
        font-size: 18px;
    }
    .form--desc {
        font-size: 14px;
    }
    .modal--input {
        font-size: 12px;
    }
    .modal--input::placeholder {
        font-size: 12px;
    }
    .modal--select--txt {
        font-size: 11px;
        line-height: 11px;
    }
}
@media screen and (max-width: 380px) {
    .contacts--header .social--links a svg {
        width: 20px;
        height: 20px;
        margin-left: 5px;
    }
    .contacts--title {
        font-size: 18px;
        padding-top: 10px;
    }
    .mini--img img {
        margin: 0 0 6px 5px;
    }
    .kart--tovara--btn a {
        padding: 11px 50px;
    }
}
@media screen and (max-width: 360px) {
    .slider-block__item {
        padding: 60px 0 20px;
    }
    .sldier--title {
        font-size: 22px;
    }
    .description {
        font-size: 13px;
        line-height: 16px;
    }
    .slider--container .slick-dots {
        bottom: 0;
    }
    .product--block {
        margin: 15px 7px;
        width: 140px;
    }
    .modal--content {
        width: 18rem;
    }
}
@media screen and (max-width: 340px) {
    .mini--img img {
        margin: 0 0 5px 5px;
    }
    .modal--content {
        width: 17rem;
    }
    .modal--title {
        font-size: 17px;
    }
}